body{

background:#f3f5f7;

}

.card{

border:none;

border-radius:15px;

margin-bottom:20px;

}

.card-summary{

text-align:center;

transition:.3s;

}

.card-summary:hover{

transform:translateY(-5px);

}

.card-header{

font-weight:bold;

}

.navbar{

box-shadow:0 3px 10px rgba(0,0,0,.15);

}

ul{

padding-left:20px;

}

li{

margin-bottom:8px;

}

.card{

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.progress{

border-radius:30px;

}

.progress-bar{

font-weight:bold;

}

.list-group-item{

border:none;

padding:12px;

}

#loadingSpinner{

display:flex;

}