<nav class="top-navbar">
    <button id="toggleSidebar" class="btn">
        <i class="bi bi-list"></i>
    </button>
    <div class="logo">
        <div class="logo-icon">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="App Logo">
        </div>
        <div>
            <h5>SIMPAN</h5>
            <small>Smart Budget Planner</small>
        </div>  
    </div>
    <div class="navbar-right">
        <div class="profile">
            <i class="bi bi-person-circle"></i>
            <span>
                Simpan
            </span>
        </div>
    </div>
</nav>